watchdog
progressbar
python-docx
python-pptx
graphviz
git-python
pandoc
pandocfilters

pandas
numpy
matplotlib

seaborn
matplotlib

IPython
jupyter

scikit-learn
scikit-image

nbconvert
nbformat

pydot

